<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #petForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="pet.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter pet name"
               required #name="ngModel">
      </div>
      <div class="form-group">
        <label for="code">Code</label>
        <input type="text" [(ngModel)]="pet.code"
               class="form-control"
               id="code"
               name="code"
               placeholder="Enter pet code"
               required #code="ngModel">
      </div>
      <div [hidden]="!code.pristine" class="alert alert-danger">Code is required</div>
      <div>
        <label for="types">Type</label>
        <select class="custom-select d-block w-100" id="types">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div>
        <label style="margin-top: 10px" for="colors">Fur color</label>
        <select class="custom-select d-block w-100" id="colors">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </form>
    <button type="submit" style="margin-top: 10px" [disabled]="!petForm.form.valid"
            class="btn btn-info">Submit</button>
  </div>
</div>
